@import url('https://fonts.googleleapss.com/css22family-Barlow+semi+condensed.wght@200;300,700$display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  
}

body{
    font-family: 'Barlow Semi Condensed',sans-serif;
    font-size: 13px;
    line-height: 1.7;
    height: 100%vh;
    
    
     

}

.testimonials{
    max-width: 1440px;
    margin: 100px auto;
    padding:20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px
   

}
.card{
    background-color: white;
    border-radius:10px ;
    padding: 30px;
    box-shadow: rgba(17,12,46, 0.15) 0px 48px
    100px  0px;
    margin-bottom: 10px;
}
.card_header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}
.card_header h3{
    font-size: 15px;
}
.card_header p{
    font-size: 17px;
    opacity: 50%;
   
}
.card_img{
   width:95px;
   height:85px;
   border-radius: 70%; 
   border:2px solid purple;
   margin-right: 10px;

}
.card_lead{
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 10px;

}
.card_quote{
    font-size: 17px;
    font-weight: 500;
    line-height: 1.4;
    opacity: 60px;

}
.card--bg-purple{
   background: hsl(263,55%,52%);
   color: white;
   /* when your inserting an image  */
   /* background-image: ; */
   /* background-repeat:none; */
   /* background-position:top 10px right 100px */
}
.card--bg-gray-blue{
    background: hsl(217,19%,35%);
    color: white;
}

.card--bg-black-blue{
    background: hsl(219,29%,14%);
    color: white;
}
.card:nth-of-type(1){
    grid-column: 1/5;
}
.card:nth-of-type(4){
    grid-column: 2/4;
    grid-row: 2/3;
}
.card:nth-of-type(5){
    grid-column: 4;
    grid-row: 1/4;
}
footer{
  text-align: center;  
}


@media(max-width:768px){
    .testimonials{
        grid-template-columns: 1fr;
        width:100px ;
    }
    .card:nth-of-type(1){
        grid-column: 1;
    }
    .card:nth-of-type(4){
        grid-column: 1;
        grid-row: 4/5;
    }
    .card:nth-of-type(5){
        grid-column: 1;
        grid-row: 5;
    }
}
    



